{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">
  {{! The tag below includes the post loop - partials/loop.hbs }}
  {{> "loop"}}
  {{> "carousel"}}
  <div class="collapse container gallery-principal" id="galleryPrincipal">
    <h2 class="gallery-proyectos">Proyectos</h2>
    <div class="row rowGallery">
      <div class="col-md-4 imgContainer">
        <a href="#" class="thumbnail imgGallery">
          <img src="{{asset 'img/carousel2.jpg'}}" alt="prendho">
        </a>
      </div>
      <div class="col-md-4 imgContainer">
        <a href="#" class="thumbnail imgGallery">
          <img src="{{asset 'img/cima.jpg'}}" alt="cima">
        </a>
      </div>
      <div class="col-md-4 imgContainer">
        <a href="#" class="thumbnail imgGallery last-picture">
          <img src="{{asset 'img/copdesarrollo.jpg'}}" alt="copdesarrollo">
        </a>
      </div>
    </div>
    <div class="row rowGallery gallerySecondary">
      <div class="col-md-4 imgContainer">
        <a href="#" class="thumbnail imgGallery">
          <img src="{{asset 'img/imgsinfin.jpg'}}" alt="sinfin" >
        </a>
    </div>
      <div class="col-md-4 imgContainer">
        <a href="#" class="thumbnail imgGallery">
          <img src="{{asset 'img/agropecuario.jpg'}}" alt="agropecuario" >
        </a>
      </div>
      <div class="col-md-4 imgContainer">
        <a href="#" class="thumbnail imgGallery last-picture">
          <img src="{{asset 'img/negocios.jpg'}}" alt="negocios">
        </a>
      </div>
    </div>
  </div>
</main>
