{{!< default}}
{{#post}}
  {{! The main content area on the homepage }}
  <main id="content" class="content" role="main">
    {{> "carousel"}}
    <div class="container gallery gallery-principal" id="gallery-fedes">
      {{#get "tags" filter="slug:servicios" as |serviciosTag|}}
        {{#serviciosTag}}
          {{> "gallery-title" currentTag=serviciosTag}}
        {{/serviciosTag}}
      {{/get}}
      <div class="row row-services serviceList">
        {{#get "posts" filter="tag:servicios" as |services|}}
          {{#foreach services}}
            <section class="col-xs-offset-2 col-xs-8 col-sm-4">
              <div class="gallery-element" data-toggle="collapse"
              data-target="#service-{{@number}}">
                <div class="img-gallery">
                  <img class="img-responsive"
                       style="background-image: url('{{image}}')" />
                  <div class="gallery-caption-wrapper">
                    <div class="gallery-caption">
                      <p>{{title}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>

            <div class="col-xs-12 collapse toggable-content" id="service-{{@number}}">
                <div class="top-arrow"></div>
                <div class="col-xs-10 toggable-content--content">
                {{content}}
              </div>
            </div>
          {{/foreach}}
      </div>
      {{#foreach services}}
      <div class="col-xs-12 col-sm-12 collapse toggable-content serviceDetail" id="service-{{@number}}" >
        <div class="col-xs-10 toggable-content--content">
          {{content}}
        </div>
      </div>
      {{/foreach}}
      {{/get}}
    </div>
  </main>
{{/post}}
