<!-- Everything inside the #post tags pulls data from the static page -->
{{#post}}
{{!< default}}
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <nav class="main-nav overlay clearfix">
       {{>navigation}}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{@blog.title}}</h1>
            <h2 class="page-description">{{@blog.description}}</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">
    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}
    {{> "carousel"}}
    <div class="container gallery-principal">
        <h2 class="gallery-proyectos">Proyectos</h2>
        <div class="row rowGallery">
            <div class="col-md-4 imgContainer">
                <a  class="thumbnail imgGallery galleryServicios serviciosConsultoria ">
                    <img src="{{asset 'img/consultoria.jpg'}}" alt="consultoria" >
                </a>
            </div>
            <div class="col-md-4 imgContainer">
                <a  class="thumbnail imgGallery galleryServicios serviciosAsesoramiento">
                    <img src="{{asset 'img/asesoramieto.jpg'}}" alt="asesoramiento">
                </a>
            </div>
            <div class="col-md-4 imgContainer">
                <a  class="thumbnail imgGallery galleryServicios last-picture serviciosTrabajo">
                    <img src="{{asset 'img/trabajo.jpg'}}" alt="trabajo">
                </a>
            </div>
        </div>
    </div>
    <div id="textConsultoria" class="collapse textServicios">
        Consultoria ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
    <div id="textAsesoramiento" class="collapse textServicios">
        Asesoramiento ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
      <div id="textTrabajo" class="collapse textServicios">
        Trabajo ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
    {{> "footer"}}
</main>

{{/post}}
