{{!< default}}
<main id="content" class="content blog-content" role="main">
  {{> "carousel-footer" fixed="true"}}

  {{#tag}}
    <div class="container post-breadcrumbs">
      {{> "navigation-blog"}}
    </div>
  {{/tag}}

  <div class="container blog-post-container">
    <div class="row">
      {{#foreach posts}}
        <div class="blog-post-content col-xs-12 col-sm-6 col-md-4">
          <a href="{{url}}" class="blog-post-link">
            <figure class="blog-post-link-figure">
              <div class="blog-post-link-date">
                {{moment-date published_at format="D [de] MMMM, YYYY" locale="es"}}
              </div>
              <div class="blog-post-link-item">
                <div class="blog-post-link-overlay"></div>
                <div class="img-responsive"
                  {{#if image}}
                    style="background-image: url('{{image}}')"
                  {{else}}
                    style="background-image: url('{{asset 'img/no-image.jpg'}}')"
                  {{/if}}
                ></div>
              </div>
              <div class="blog-post-link-title">{{title}}</div>
              <div class="blog-post-link-summary">{{excerpt}}</div>
            </figure>
          </a>
        </div>
      {{/foreach}}
    </div>
    <div class="container blog-pagination">
      {{pagination limit="6"}}
    </div>
  </div>
</main>
