{{!< default}}
{{#tag}}
  <div class="blog-header">
    {{> "carousel-footer"}}
  </div>
  <div class="container">
    {{> "navigation-blog"}}
  </div>
{{/tag}}
<main id="content" class="content blog-content" role="main">
  <div class="container">
    <div class="row">
      <section>
        {{#foreach posts}}
          <div class="col-xs-12 col-sm-4 blog-post-content">
            <a href="{{url}}" class="blog-post-link">
              <figure class="blog-post-link-figure">
                <div class="blog-post-link-date">
                  {{moment-date published_at format="D [de] MMMM, YYYY" locale="es"}}
                </div>
                <div class="blog-post-link-item">
                  <div class="blog-post-link-overlay"></div>
                  <img class="img-responsive"
                      src="{{#if image}} {{image}} {{else}} {{asset 'img/no-image.jpg'}} {{/if}}"/>
                </div>
                <div class="blog-post-link-title">
                  <p>{{title}}</p>
                </div>
                <div class="blog-post-link-summary">
                  {{excerpt}}
                </div>
              </figure>
            </a>
          </div>
        {{/foreach}}
      </section>
    </div>
  </div>
  <div class="container blog-pagination">
    {{pagination limit="6"}}
  </div>
</main>
