<div class="row">
  <div class="col-xs-offset-2 col-xs-8">
    <div class="carousel slide" id="myCarouselEquipo">
      <div class="carousel-inner carouselEquipo">
        {{#get "posts" filter="tag:imagenequipo" as |images|}}
          {{#foreach images}}
            <div class="item">
              <div class="gallery-element">
                <div class="img-gallery imgEquipo">
                  <img class="img-responsive"
                       {{#if image}}
                         style="background-image: url('{{image}}')"
                       {{else}}
                         style="background-image: url('{{asset 'img/no-image.jpg'}}')"
                       {{/if}}
                  / >
                  <div class="gallery-text-content transparent-overlay">{{content}}</div>
                </div>
                <div class="gallery-caption-wrapper">
                  <div class="gallery-caption">
                    <p>{{title}}</p>
                  </div>
                </div>
              </div>
            </div>
          {{/foreach}}
        {{/get}}
      </div>
      <div class="carousel-controls-wrapper controlsEquipo">
        <a class="left carousel-control" href="#myCarouselEquipo" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarouselEquipo" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"  aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
