<div class="container carousel">
  <div id="myCarousel" class="carousel slide {{^is "index"}} carousel-main-secondary {{/is}}" data-ride="carousel">
    <div class=" carousel-inner {{^is "index"}} carousel-inner-secondary {{/is}}"
      role="listbox">
      <div class="item active">
        {{#get "posts" slug="imagen1carousel" as |article|}}
          {{#article}}
            <img src="{{image}}" class="img-responsive"/>
            <div class="menu-carousel {{^is "index"}} menu-carousel-secondary {{/is}}">
              <div class="carousel text text-nowrap">
                <h1>{{title}}</h1>
                <p>
                  {{content}}
                </p>
              </div>
              <div class="carousel-controls-wrapper">
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"  aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          {{/article}}
        {{/get}}
      </div>
      <div class="item">
        {{#get "posts" slug="imagen2carousel" as |article|}}
          {{#article}}
            <img src="{{image}}" class="img-responsive"/>
            <div class="menu-carousel {{^is "index"}} menu-carousel-secondary {{/is}}">
              <div class="carousel text text-nowrap">
                <h1>{{title}}</h1>
                <p>
                  {{content}}
                </p>
              </div>
              <div class="carousel-controls-wrapper">
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"  aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          {{/article}}
        {{/get}}
      </div>
      <div class="item">
        {{#get "posts" slug="imagen3carousel" as |article|}}
          {{#article}}
            <img src="{{image}}" class="img-responsive"/>
            <div class="menu-carousel {{^is "index"}} menu-carousel-secondary {{/is}}">
              <div class="carousel text text-nowrap">
                <h1>{{title}}</h1>
                <p>
                  {{content}}
                </p>
              </div>
              <div class="carousel-controls-wrapper">
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right"  aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          {{/article}}
        {{/get}}
      </div>
    </div>
  </div>
</div>

<section>
  {{#get "posts" slug="texto-principal" as |article|}}
    {{#article}}
      <div class="carousel-footer {{^is "index"}} carousel-footer-secondary {{/is}}">
        {{#is "index"}}
          <span class="textFooter">
            {{content}}
          </span>
        {{/is}}
      </div>
    {{/article}}
  {{/get}}
</section>

<div class="gearDivider">
  <div data-toggle="collapse" data-target=".gallery">
    <img class="ruedaBlanca" src="{{asset 'img/rueda_blanca.png'}}">
  </div>
</div>
