<nav class="pagination" role="navigation">
  <ul id="pagination-list" class="page-number pagination">
  </ul>
  <div style="display:none;">
    <div id="page-total">{{pages}}</div>
    <div id="page-current">{{page}}</div>
    <div id="total-elements">{{total}}</div>
    <div id="prev-page">{{page_url prev}}</div>
    <div id="next-page">{{page_url next}}</div>
    <div id="prev">{{prev}}</div>
    <div id="next">{{next}}</div>
  </div>
</nav>
