<div class="container gallery gallery-principal">
  <div class="mainTitle">
    {{#get "tags" filter="slug:proyectos" as |proyectosPost|}}
      {{#proyectosPost}}
        <h2 class="gallery-title">{{name}}</h2>
        <p class="text-center">{{description}}</p>
      {{/proyectosPost}}
    {{/get}}
  </div>
  <div class="row projectList">
    {{#get "posts" limit="3" filter="tag:proyectos"  as |projects|}}
      {{#foreach projects}}
        <section class="col-xs-offset-2 col-xs-5 col-md-4">
          <figure class="projectElement">
            <div class="img-gallery">
              {{#if image}}
                <img src="{{image}}" class="img-responsive"/>
              {{else}}
                <img src="{{asset 'img/no-image.jpg'}}" class="img-responsive">
              {{/if}}
              <div class="projectContent">
                <p>
                  {{content}}
                </p>
              </div>
            </div>
            <div class="projectName">
              <p>{{title}}</p>
            </div>
          </figure>
        </section>
      {{/foreach}}
    {{/get}}
  </div>
</div>
