<div class="container gallery gallery-principal">
  <div class="mainTitle">
    {{#get "tags" filter="slug:proyectos" as |proyectosTag|}}
      {{#proyectosTag}}
        {{> "gallery-title" currentTag=proyectosTag}}
      {{/proyectosTag}}
    {{/get}}
  </div>
  <div class="row projectList">
    {{#get "posts" filter="tag:proyectos" order="published_at asc"  as |projects|}}
      {{#foreach projects}}
        <section class="col-xs-offset-2 col-xs-8 col-md-4 col-sm-4">
          <a class="gallery-element" href="{{url}}">
            <div class="img-gallery">
              <img
                class="img-responsive"
                {{#if image}}
                  style="background-image: url('{{image}}')"
                {{else}}
                  style="background-image: url('{{asset 'img/no-image.jpg'}}')"
                {{/if}}
                / >
              <div class="gallery-text-content">
                <div class="projectContent">{{content}}</div>
              </div>
            </div>
            <div class="gallery-caption-wrapper">
              <div class="gallery-caption">
                <p>{{title}}</p>
              </div>
            </div>
          </a>
        </section>
      {{/foreach}}
    {{/get}}
  </div>
</div>
